.text-center{
    text-align: center;
}

.table{
    width: 90%;
    height: 2rem;
    border: 2px solid grey;
    border-radius: 10em;
    font-weight: bold;
    
}

.caption-background{
    background-color: grey;
}

.search-input{
    width: 90rem;
    margin-bottom: 5px;
}
.notes{
    font-weight: bolder;
}
.thead-dark{
    background-color: grey;
}