.recipe {
  border: 2px solid grey;
  border-radius: 2rem;
  background-color: gainsboro;
  text-align: left;
  margin: 10px;
  height: 700px;
  width: 700px;
}
.serach-form {
  height: 10vh;
  display: flex;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 40%;
  text-align: left;
}
.recipe img {
  border-radius: 5rem;
  width: 200px;
  height: 200px;
  align-items: center;
}

.search-input {
  width: 10%;
  height: 3rem;
}
.search-btn {
  height: 3rem;
  font-weight: bold;
  border-radius: 1rem;
}
